#img1 {
    width: 25%;
}
#img2 {
    width: 40%;
}
#img3 {
    width: 20%;
}
#img4 {
    width: 20%;
}
#img5 {
    width: 40%;
}
#img6 {
    width: 30%;
}
#img7 {
    width: 35%;
}
#img8 {
    width: 30%;
}
#img9 {
    width: 30%;
}
#img10 {
    width: 30%;
}
#img11 {
    width: 35%;
}   
#img12 {
    width: 35%;
}
#img13 {
    width: 50%;
}
#img14 {
    width: 45%;
}
#img15 {
    width: 30%;
}
#img16 {
    width: 30%;
}
#img17 {
    width: 30%;
}
#img18 {
    width: 30%;
}