
.group-23 {
  height: auto;
  position: absolute;
  left: 389px;
  top: -79px;
  overflow: visible;
}
.frame-2 {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  left: 1070px;
  top: 37px;
}
.home {
  color: #5f4945;
  text-align: left;
  font-family: "PP Eiko", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: relative;
}
.about-me {
  color: #5f4945;
  text-align: left;
  font-family: "PP Eiko", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: relative;
}
.my-work {
  color: #5f4945;
  text-align: left;
  font-family: "PP Eiko", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: relative;
}
.noise-texture {
  opacity: 0.6000000238418579;
  width: 1440px;
  height: 1029px;
  position: absolute;
  left: 0px;
  top: -5px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  mix-blend-mode: overlay;
  object-fit: cover;
}
.group-24 {
  position: absolute;
  inset: 0;
}
.work {
  color: #5f4945;
  text-align: center;
  font-family: "Solare", sans-serif;
  font-size: 150px;
  line-height: 91%;
  font-weight: 400;
  position: absolute;
  left: 248.84px;
  top: -10px;
  width: 608.16px;
}
.my {
  color: #5f4945;
  text-align: center;
  font-family: "Solare", sans-serif;
  font-size: 150px;
  line-height: 91%;
  font-weight: 400;
  position: absolute;
  left: 34px;
  top: 117px;
  width: 322.81px;
}
.group-35 {
  position: absolute;
  inset: 0;
}
.line-9 {
  border-style: solid;
  border-color: #5f4945;
  border-width: 2px 0 0 0;
  width: 180px;
  height: 0px;
  position: absolute;
  left: 368px;
  top: 673px;
}
._1 {
  color: #5f4945;
  text-align: center;
  font-family: "Solare", sans-serif;
  font-size: 150px;
  line-height: 91%;
  font-weight: 400;
  position: absolute;
  left: 249px;
  top: 601px;
  width: 91px;
  height: 144px;
  filter: blur(0.5px);
}
.group-46 {
  position: absolute;
  inset: 0;
}
.line-92 {
  border-style: solid;
  border-color: #5f4945;
  border-width: 2px 0 0 0;
  width: 180px;
  height: 0px;
  position: absolute;
  left: 368px;
  top: 996px;
}
._2 {
  color: #5f4945;
  text-align: center;
  font-family: "Solare", sans-serif;
  font-size: 150px;
  line-height: 91%;
  font-weight: 400;
  position: absolute;
  left: 249px;
  top: 924px;
  width: 91px;
  height: 144px;
  filter: blur(0.5px);
}
.group-47 {
  position: absolute;
  inset: 0;
}
.line-93 {
  border-style: solid;
  border-color: #5f4945;
  border-width: 2px 0 0 0;
  width: 180px;
  height: 0px;
  position: absolute;
  left: 368px;
  top: 1319px;
}
._3 {
  color: #5f4945;
  text-align: center;
  font-family: "Solare", sans-serif;
  font-size: 150px;
  line-height: 91%;
  font-weight: 400;
  position: absolute;
  left: 249px;
  top: 1247px;
  width: 91px;
  height: 144px;
  filter: blur(0.5px);
}
.group-48 {
  position: absolute;
  inset: 0;
}
.line-94 {
  border-style: solid;
  border-color: #5f4945;
  border-width: 2px 0 0 0;
  width: 180px;
  height: 0px;
  position: absolute;
  left: 368px;
  top: 1642px;
}
._4 {
  color: #5f4945;
  text-align: center;
  font-family: "Solare", sans-serif;
  font-size: 150px;
  line-height: 91%;
  font-weight: 400;
  position: absolute;
  left: 249px;
  top: 1570px;
  width: 91px;
  height: 144px;
  filter: blur(0.5px);
}
.group-45 {
  position: absolute;
  inset: 0;
}
.rectangle-23 {
  background: #ddbe9a;
  border-radius: 100px;
  width: 434px;
  height: 227px;
  position: absolute;
  left: 737px;
  top: 559px;
}
.interactive-media {
  color: #5f4945;
  text-align: center;
  font-family: "PP Eiko", sans-serif;
  font-size: 40px;
  line-height: 91%;
  font-weight: 400;
  position: absolute;
  left: 737px;
  top: 559px;
  width: 434px;
  height: 226px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-42 {
  position: absolute;
  inset: 0;
}
.rectangle-24 {
  background: #ddbe9a;
  border-radius: 100px;
  width: 434px;
  height: 227px;
  position: absolute;
  left: 737px;
  top: 882px;
}
.development-version-control {
  color: #5f4945;
  text-align: center;
  font-family: "PP Eiko", sans-serif;
  font-size: 40px;
  line-height: 91%;
  font-weight: 400;
  position: absolute;
  left: 737px;
  top: 883px;
  width: 434px;
  height: 226px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-34 {
  position: absolute;
  inset: 0;
}
.rectangle-242 {
  background: #ddbe9a;
  border-radius: 100px;
  width: 434px;
  height: 227px;
  position: absolute;
  left: 737px;
  top: 1205px;
}
.itterative-design {
  color: #5f4945;
  text-align: center;
  font-family: "PP Eiko", sans-serif;
  font-size: 40px;
  line-height: 91%;
  font-weight: 400;
  position: absolute;
  left: 737px;
  top: 1206px;
  width: 434px;
  height: 226px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-36 {
  position: absolute;
  inset: 0;
}
.rectangle-243 {
  background: #ddbe9a;
  border-radius: 100px;
  width: 434px;
  height: 227px;
  position: absolute;
  left: 737px;
  top: 1528px;
}
.professional-standard {
  color: #5f4945;
  text-align: center;
  font-family: "PP Eiko", sans-serif;
  font-size: 40px;
  line-height: 91%;
  font-weight: 400;
  position: absolute;
  left: 737px;
  top: 1529px;
  width: 434px;
  height: 226px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-49 {
  position: absolute;
  inset: 0;
}
.line-95 {
  border-style: solid;
  border-color: #5f4945;
  border-width: 2px 0 0 0;
  width: 180px;
  height: 0px;
  position: absolute;
  left: 368px;
  top: 1965px;
}
._5 {
  color: #5f4945;
  text-align: center;
  font-family: "Solare", sans-serif;
  font-size: 150px;
  line-height: 91%;
  font-weight: 400;
  position: absolute;
  left: 249px;
  top: 1893px;
  width: 91px;
  height: 144px;
  filter: blur(0.5px);
}
.group-50 {
  position: absolute;
  inset: 0;
}
.rectangle-244 {
  background: #ddbe9a;
  border-radius: 100px;
  width: 434px;
  height: 227px;
  position: absolute;
  left: 737px;
  top: 1851px;
}
.personal-leadership {
  color: #5f4945;
  text-align: center;
  font-family: "PP Eiko", sans-serif;
  font-size: 40px;
  line-height: 91%;
  font-weight: 400;
  position: absolute;
  left: 737px;
  top: 1852px;
  width: 434px;
  height: 226px;
  display: flex;
  align-items: center;
  justify-content: center;
}
